main {
    background-color: #f1f1f1;
    padding-top: 10vh;
}

#products {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    gap: 30px;
    margin: auto;
    margin-top: 40px;
}

.card {
    width: 250px;
    height: 350px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;

    border-radius: 10px;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 200px;

    border-radius: 5px;
}

.card .name {
    font-size: 1.2em;
}

.card .price {
    text-align: end;
    font-weight: 700;
    font-size: 1.4em;
}

.card button {
    border: none;
    background: #4d5c49;

    color: #f1f5f9;
    border-radius: 5px;
    padding: 8px 12px;
}