header {
    position: relative !important;
}

.constructor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    padding: 1em;
    gap: 1em;
}

.result {
    width: 65%;
}

.result h2 {
    padding: 1em 2em;
    border-radius: 10px;
    background-color: #f1f5f9;

}

.parameters {
    width: 35%;
    padding: 1em;
    border-radius: 10px;
    background-color: #f1f5f9;
}

.options {
    width: 100%;
    margin: 1em 0;
}

.options > label {
    display: inline-block;
    margin-bottom: 0.5em;
}

.apply {
    width: auto;
    border: none;
    background-color: #ddb8c8;
    padding: 8px 12px;
    border-radius: 8px;
}