/* хидер */

header {
    width: 100%;
    height: 10vh;
    background-color: #2f2f2f;
    padding: 0 20px;
    font-size: 1.1em;

    display: flex;
    align-items: center;
    position: fixed;
}

/* ссылки */

header a {
    color: #f1f5f981;   
}
header a.active {
    color: #f1f5f9;
}
header a:hover,
#brand-name {
    color: #f1f5f9;
}

/* навигация */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand,
.links {
    display: flex;
    gap: 15px;
}
