section {
    padding-top: 10vh;
    width: 100%;
    height: 100vh;
}

/* MAIN */

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #101010;
    background-image: url();
    background-size: cover;
    color: #f1f5f9;
    gap: 10px;
}
#main h1 {
    font-size: 3em;
}

/* POPULAR */

#popular {
    background-color: #f2f2f2;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#popular > * {
    width: 100%;
    margin: auto;
}
#popular h1 {
    padding: 30px 50px 20px;
    font-size: 1.6em;
}
#popular .products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;  
    gap: 8px;
}
#popular .card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 300px;
    height: 400px;
    background-color: #f1f5f9;
    border-radius: 15px;
    padding: 15px;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(80, 80, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(80, 80, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(80, 80, 80, 0.2);
}
#popular .card img {
    width: 100%;
    height: 270px;
    background-color: #b6b6b6;
    border-radius: 10px;
}


#show-all {
    text-align: end;
}
#show-all a {
    color: #101010;
    font-size: 1.2em;
}